
/*Fonts */
@font-face { font-family: 'Open Sans Bold'; src: url('../fonts/open-sans/OpenSans-Bold.eot'); src: url('../fonts/open-sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-Bold.woff2') format('woff2'), url('../fonts/open-sans/OpenSans-Bold.woff') format('woff'), url('../fonts/open-sans/OpenSans-Bold.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Open Sans Bold Italic'; src: url('../fonts/open-sans/OpenSans-BoldItalic.eot'); src: url('../fonts/open-sans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-BoldItalic.woff2') format('woff2'), url('../fonts/open-sans/OpenSans-BoldItalic.woff') format('woff'), url('../fonts/open-sans/OpenSans-BoldItalic.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Open Sans ExtraBold'; src: url('../fonts/open-sans/OpenSans-ExtraBold.eot'); src: url('../fonts/open-sans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-ExtraBold.woff2') format('woff2'), url('../fonts/open-sans/OpenSans-ExtraBold.woff') format('woff'), url('../fonts/open-sans/OpenSans-ExtraBold.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Open Sans ExtraBold Italic'; src: url('../fonts/open-sans/OpenSans-ExtraBoldItalic.eot'); src: url('../fonts/open-sans/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-ExtraBoldItalic.woff2') format('woff2'), url('../fonts/open-sans/OpenSans-ExtraBoldItalic.woff') format('woff'), url('../fonts/open-sans/OpenSans-ExtraBoldItalic.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Open Sans Italic'; src: url('../fonts/open-sans/OpenSans-Italic.eot'); src: url('../fonts/open-sans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-Italic.woff2') format('woff2'), url('../fonts/open-sans/OpenSans-Italic.woff') format('woff'), url('../fonts/open-sans/OpenSans-Italic.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Open Sans Light'; src: url('../fonts/open-sans/OpenSans-Light.eot'); src: url('../fonts/open-sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-Light.woff2') format('woff2'), url('../fonts/open-sans/OpenSans-Light.woff') format('woff'), url('../fonts/open-sans/OpenSans-Light.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Open Sans Light Italic'; src: url('../fonts/open-sans/OpenSans-LightItalic.eot'); src: url('../fonts/open-sans/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-LightItalic.woff2') format('woff2'), url('../fonts/open-sans/OpenSans-LightItalic.woff') format('woff'), url('../fonts/open-sans/OpenSans-LightItalic.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Open Sans Regular'; src: url('../fonts/open-sans/OpenSans-Regular.eot'); src: url('../fonts/open-sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-Regular.woff2') format('woff2'), url('../fonts/open-sans/OpenSans-Regular.woff') format('woff'), url('../fonts/open-sans/OpenSans-Regular.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Open Sans SemiBold'; src: url('../fonts/open-sans/OpenSans-SemiBold.eot'); src: url('../fonts/open-sans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-SemiBold.woff2') format('woff2'), url('../fonts/open-sans/OpenSans-SemiBold.woff') format('woff'), url('../fonts/open-sans/OpenSans-SemiBold.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Open Sans SemiBold Italic'; src: url('../fonts/open-sans/OpenSans-SemiBoldItalic.eot'); src: url('../fonts/open-sans/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/OpenSans-SemiBoldItalic.woff2') format('woff2'), url('../fonts/open-sans/OpenSans-SemiBoldItalic.woff') format('woff'), url('../fonts/open-sans/OpenSans-SemiBoldItalic.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }

.open-sans-bold { font-family: 'Open Sans Bold', sans-serif; }
.open-sans-bold-italic { font-family: 'Open Sans Bold Italic', sans-serif; }
.open-sans-extrabold { font-family: 'Open Sans ExtraBold', sans-serif; }
.open-sans-extrabold-italic { font-family: 'Open Sans ExtraBold Italic', sans-serif; }
.open-sans-italic { font-family: 'Open Sans Italic', sans-serif; }
.open-sans-light { font-family: 'Open Sans Light', sans-serif; }
.open-sans-light-italic { font-family: 'Open Sans Light Italic', sans-serif; }
.open-sans-regular { font-family: 'Open Sans Regular', sans-serif; }
.open-sans-semibold { font-family: 'Open Sans SemiBold', sans-serif; }
.open-sans-semibold-italic { font-family: 'Open Sans SemiBold Italic', sans-serif; }

.font12 { font-size: 12px !important; }
.font14 { font-size: 14px !important; }
.font16 { font-size: 16px !important; }
.font18 { font-size: 18px !important; }
.font19 { font-size: 19px !important; }
.font20 { font-size: 20px !important; }
.font22 { font-size: 22px !important; }
.font24 { font-size: 24px !important; }
.font26 { font-size: 26px !important; }
.font30 { font-size: 30px !important; }
.font32 { font-size: 32px !important; }
.font33 { font-size: 33px !important; }
.font34 { font-size: 34px !important; }
.font40 { font-size: 40px !important; }
.font42 { font-size: 42px !important; }
.font60 { font-size: 54px !important; }
.font80 { font-size: 80px !important; }
.font100 { font-size: 100px !important; }

/*Color*/
.lavanda { color: #7A6876; }
.gold { color: #7B5E0A; }
.m-gold { color: #D9A63B; }
.gold-background { background-color: #7B5E0A; }
.transparent { background-color: transparent !important; }
.half-transparent { background-color: rgba(0,0,0,0.5); padding-top: 50px; box-shadow: none !important; -webkit-box-shadow: none !important; }

/* GENERAL */
html, body { width: 100%; height: 100%; background-color: #000000; color: #FFF; }
.centered { margin: 0 auto; text-align: center; }
.left { margin: 0 auto; text-align: left; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.uppercase { text-transform: uppercase; }
.space5 { margin-top: 5px; display: block; }
.space10 { margin-top: 10px; display: block; }
.space20 { margin-top: 20px; display: block; }
.space30 { margin-top: 30px; display: block; }
.space50-padding { padding-top: 50px; display: block; }
.space40 { margin-top: 40px; display: block; }
.space60 { margin-top: 60px; display: block; }
.space80 { margin-top: 80px; display: block; }
.space100 { margin-top: 100px; display: block; }
.space150 { margin-top: 150px; display: block; }
.space150-padding { padding-top: 150px; display: block; }
.space200 { margin-top: 200px; display: block; }
.space300 { margin-top: 300px; display: block; }
.inline { display: inline-block; }
.block { display: block; }
.underline { text-decoration: underline; }
.no-padding { padding: 0 !important; }
.padding-1rem { padding: 1rem !important; }
.no-box-shadow { box-shadow: none !important; }
.no-margin-row { margin-bottom: 0; }
.clear { clear: both !important; }
::-webkit-scrollbar { width: 0px; }
video.fillWidth { width: 100%; }
#videoBlock { width: 100%; height: 100%;  display: flex;  justify-content: center; align-items: center; background-color: #000; }
#videoMessage { width: 100%; height:100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.toast { background-color: #7B5E0A !important; }
nav { margin-bottom: -64px !important; -webkit-box-shadow: none !important; box-shadow: none !important; }
.navbar-fixed { z-index: 999 !important; height: 0px !important; }

/*Footer*/
.container-fluid.black { border-top: 1px solid #656265; }
.container.footer { padding: 10px 0; }
.container.footer a { color: #FFF; font-weight: 100; }
.container.footer .row { margin-bottom: 0px; }

/*Home*/
.home { overflow-y: scroll; overflow-x: hidden; position: relative; }
.home::-webkit-scrollbar { width: 7px; background-color: rgba(0,0,0,0); }
.home::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 1); border-radius: 5px; }
.header-home { background-image: url('../img/Home_bg.jpg'); background-size: cover; background-repeat: no-repeat; position: relative }
.header-home .boton-cta a { background-color: transparent; border: 1px solid #FFF; padding: 11px 70px; color: #fff; }
.col.s5.m5.offset-m2.l12.\31 5-img img { width: 415px; margin: 0 auto; display: block; }
.col.s12.centered.chevron-home { position: absolute ; bottom: 300px; /*padding-bottom: 50px;*/ }
.col.s12.\31 5-img img { width: 415px; margin: 0 auto ; display: block ; }
.col.s12.\31 5-img img { width: 315px; margin: 0 auto; display: block; }
.col.s10.offset-s1.m10.offset-m1.centered.open-sans-light { margin-bottom: 20px; }
.col.s12.open-sans-semibold.font22.centered.boton-enviar-f a { background-color: #000; padding: 11px 50px; border: 1px solid #FFF; color: #fff; }
.col.s12.open-sans-semibold.font22.centered.boton-enviar input, .col.s12.open-sans-semibold.font22.centered.boton-enviar a { background-color: #000; border: 1px solid #FFF; padding: 11px 70px; color: #fff; }
.boton-enviar .btn, .boton-enviar .btn:hover { background-color: #FFF; }
.formulario-pos { margin-top: 40px; position: relative; }
input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) { border-bottom: none; -webkit-box-shadow: none; box-shadow: none; }
.row.formulario-edit input.browser-default, .row.formulario-edit select { background-color: transparent ; height: 50px; border: 1px solid #FFF; padding-left: 20px; width: 100%; -webkit-appearance: none; -webkit-border-radius: 0px; }
.row.formulario-edit select option { margin: 40px; background: rgba(0, 0, 0, 0.3); color: #fff; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); font-size: 20px; }
.row.formulario-edit input.browser-default.bebida-fav { width: 100%; }
input::placeholder { color: rgba(111, 108, 108, 1); }
.textForm { border: 1px solid #FFF; height: 15rem; overflow: scroll; }
[type="checkbox"].filled-in:not(:checked) + label::after { border: 2px solid #FFF; }
[type="checkbox"].filled-in:checked + label::after { border: 2px solid #FFF; background-color: #000; }

/*Home-Media*/
.img-foto-video { width: 50px; height: 40px; margin: 0 auto; display: block; }
.btn.fotos-video-btn { float: none; display: block; height: 100%; text-transform: none; background-color: transparent ; border: 1px solid #FFF; padding: 30px; }
.btn.fotos-video-btn .open-sans-light.font22.centered { line-height: 30px; margin-top: 10px; }
.btn.fotos-video-btn .open-sans-light.font16.centered { line-height: 16px; }
.btn.fotos-btn { float: none; display: block; height: 100%; text-transform: none; background-color: transparent ; border: 1px solid #FFF; padding: 30px; }
.btn.fotos-btn .open-sans-light.font22.centered { line-height: 30px; margin-top: 10px; }
.btn.fotos-btn .open-sans-light.font16.centered { line-height: 16px; }
.row.email-media input.browser-default { padding-left: 0px; text-align: center; background-color: transparent ; height: 50px; border: 1px solid #FFF; width: 100%; }
.row.email-media a { color: #fff; text-decoration: underline ; }
.row.email-media p { color: grey; }
.formulario-pos .info { vertical-align: middle; }
.sbrewards #title { }
.home .fix { }
.home .file-images-list { text-align: center; margin-top: 20px; float: none; display: block; height: 100%; text-transform: none; background-color: transparent ; border: 0px solid #FFF; padding: 10px; }
.home .file-images-list input[type="button"] { background-color:#424242; border:none; width:auto; height:35px; color:white; }
.home .file-images-list div { margin-bottom: 10px; font-size: 16px; }
.home .file-images-list div input:first-child { display: inline-block; max-width: 90%; }
.home .file-images-list div input:last-child { display: inline-block; max-width: 10%; }
.home .file-video-list { text-align: center; margin-top: 20px; float: none; display: block; height: 100%; text-transform: none; background-color: transparent ; border: 0px solid #FFF; padding: 10px; }
.home .file-video-list input[type="button"] { background-color:#424242; border:none; width:auto; height:35px; color:white; }
.home .file-video-list div { margin-bottom: 10px; font-size: 16px; }
.home .file-video-list div input:first-child { display: inline-block; max-width: 100%; }

/*Votacion*/
/*.header-votacion { background-image: url('../img/header-w.png'); background-size: cover; background-repeat: no-repeat; } */
.col.s12.m12.l12.\31 5-img img { width: 330px; display: block; margin: 0 auto }
.row.parrafo-votacion p {width: 500px; margin: 0 auto; }
.row.votacion-chv img { padding: 80px 0 140px 0; }
.corazon-size { width: 25px; vertical-align: middle ; height: 25px; }
form.btn-vote button { width: 95px; height: 28px; background-color: #D9A63B; border: none; vertical-align: middle; border-radius: 5px }
.row.open-sans-regular.vot-box { position: relative ; }
/* .row.open-sans-regular.vot-box #name { height: 50px; } */
.row.open-sans-regular.vot-box p.font19 { text-align: left; margin-top: 10px }
.btn-vote { margin: 10px 0; }
.font12.lavanda { text-align: left; margin: 0; }
.container-fluid.votacion-video .col.s6.m4.l4.centered { margin-bottom: 30px; }
.container-fluid.votacion-video .responsive-img { width: 100% !important; min-height: 300px; }

/*Premios*/
.premios { overflow-y: scroll; overflow-x: hidden; position: relative; }
.premios::-webkit-scrollbar { width: 7px; background-color: rgba(0,0,0,0); }
.premios::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 1); border-radius: 5px; }
.header-premios { background-image: url('../img/premios-back.png'); background-size: cover; background-repeat: no-repeat; background-color: #000; }
/*.container-fluid.premios { background-image: url('../img/premios-back.png'); background-size: contain; background-repeat: no-repeat; background-color: #000; } */
.parrafo-premios.font40 { width: 600px; margin: 0 auto ; }
.btn-premios p { border: 1px solid #0D693F; width: 320px; margin: 0 auto; padding: 10px 0; color: #fff; }
.container-fluid.premios .row { margin-bottom: 0; }
.open-sans-regular.font14.p-titulo { letter-spacing: 5px; }
.premios .editar-texto2 { text-align: right ; padding: 50px; }
.premios .editar-texto1 { padding: 50px; }
.col.s12.m6.l6.imagen-premios-e1, .col.s12.m6.l6.imagen-premios-e2 { padding: 0; }
.premios img.responsive-img, video.responsive-video { width: 100%; }
.premios .premios-secundarios { margin-top: -200px; position: relative; }
.premios .fixed-action-btn .btn-large { background-color: #000 !important; border: 1px solid #FFF; color: #fff; }

/*Gracias Historia*/
.gracias { background-color: #000; }
.container-fluid.gracias-historia { background-color: #000; }
.font60.parrafo-esp3px { letter-spacing: 3px; }
.redes-sociales { letter-spacing: 3px; }
.barra-redes.font30 { padding: 0 10px 0 15px; }
.fb-btn { margin-left: 30px; }
.fb-btn img { margin-bottom: -6px; }
.tw-btn img { margin-bottom: -6px; }
.btn-gracias p { border: 1px solid #FFF; width: 600px; margin: 0 auto; padding: 15px 0; color: #FFF; letter-spacing: 5px; }

/*Gracias Votacion*/
.container-fluid.gracias-votacion { background-color: #000; }
.font20.gold.redes-sociales { letter-spacing: 3px; }

/*Terminos y Condiciones*/
.terminos { background-color: #000; }
.space100-padding { padding-top: 100px; display: block; }
.open-sans-light.font32.terminos-titulo { margin: 10px 0; border-bottom: 1px solid #fff; padding-bottom: 10px; letter-spacing: 2px; }
.col.s12.m12.l8.texto-terminos p { line-height: 1.5rem; letter-spacing: 2px }
.browser-default.open-sans-light.font14 li { line-height: 1.5rem; letter-spacing: 2px }
.col.s12.m12.l8.right.texto-terminos { max-height: 500px; overflow-y: scroll; overflow-x: hidden; position: relative; }
.row.terminos-condiciones { position: relative; }
.gradientback { position: absolute; bottom: 0; left: 0; width: 100%; height: 100px; background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 1))); background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%); background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%); background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%); background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%); filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0 ); }
.col.s12.m12.l8.right.texto-terminos::-webkit-scrollbar { width: 7px; background-color: rgba(0,0,0,0); }
.col.s12.m12.l8.right.texto-terminos::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 1); border-radius: 5px; }
.ter-con-edit { text-align: justify ; }
.edit-list-none li { list-style-type: none; }
.edit-list-roman li { list-style-type: upper-roman; }
.edit-list-circle li { list-style-type: circle; }
.text-underline { text-decoration: underline; }

/*Aviso Privacidad*/
.aviso { background-color: #000; }
.edit-list li { list-style-type: lower-alpha; } 
strong { font-weight: bold; }

/*Finalistas*/
.finalistas { background-color: #131013; }
.container-fluid.header-votacion.finalistas-header { background-color: #131013; }
.container-fluid.votacion-video.finalistas-video { background-color: #131013; }
.contenedor-sombra { position: relative; }
.background-ganador { position: absolute; z-index: 1; left: 0; top: 0; background-color: rgba(100, 75, 0, .7999); min-height: 300px; width: 100%; height: 100%; }
.background-ganador-black { position: absolute; z-index: 1; left: 0; top: 0; background-color: rgba(0, 0, 0, .455); min-height: 300px; width: 100%; height: 100%; }
.col.s6.m4.l4.centered.edit-contenedor-finalistas { min-height: 600px !important; margin-bottom: 0px !important; }

/*Ganadores*/
.contenedor-sombra.ganadores { width: 350px; height: 190px; margin: 20px auto; position: relative ; }
.responsive-img.ganadores-img { height: 100%; width: 100%; }
.backg-ganador { background-color: rgba(100, 75, 0, .7999); background-size: cover ; position: absolute; z-index: 1; width: 100%; height: 100%; }
.backg-ganador-black { background-color: rgba(0, 0, 0, .455); background-size: cover; position: absolute; z-index: 1; width: 100%; height: 100%; }
.ganadores-nombre.open-sans-light.font22.nombre-gan { z-index: 1; width: 100%; height: 25px; text-align: center; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
.open-sans-light.font16.centered.ganadores-viaje, .ganadores-nombre.open-sans-light.font22.nombre-gan { letter-spacing: 2px; }
.linea-pos { position: relative ; height: 50px; }
.linea-ganadopres { position: absolute; border-top: 1px solid #896A2B; width: 100%; top: 50%; }
.row.tercer-lugar { margin: 40px 0 50px 0; }
.titulo-tercer p { letter-spacing: 2px; padding: 5px 0; }
.cont-gan-chiapas { display: inline-block; width: 145px; height: 200px; position: relative ; }
.img-circular-contenedor {width: 115px; height: 115px; position: relative; overflow: hidden; border-radius: 50%; margin: 0 auto; }
/*.pos-img-centrado { margin-left: -130%; margin-top: -50%; }*/
.pos-img-centrado { width: 115px !important; height: 115px !important; text-align: center; }
.participante-ganador { letter-spacing: 1px; padding: 5px; margin-top: 20px; }
.participante-ciudad { letter-spacing: 1px; padding: 5px; }

/*Responsivo*/
@media screen and (max-width: 2000px) {
	.chevron-home { bottom: 280px; }
	#videoMessage .space150-padding { display: none; }
	#videoMessage .space40 { display: none; }
	#videoMessage { margin-top: 100px; }
	#videoMessage #compartenos { margin-top: 180px; }
	.col.s6.m4.l4.centered.edit-contenedor-finalistas { min-height: 500px !important; }
}
@media screen and (max-width: 1800px) {
	.col.s6.m4.l4.centered.edit-contenedor-finalistas { min-height: 450px !important; }
}
@media screen and (max-width: 1700px) {
	.container-fluid.votacion-video .responsive-img { min-height: 250px; }
	.background-ganador, .background-ganador-black { min-height: 250px; }
	.chevron-home { bottom: 240px !important; }
	#videoMessage { margin-top: 80px; }
	#videoMessage #compartenos { margin-top: 160px; }
}
@media screen and (max-width: 1600px) {
	.chevron-home { bottom: 220px !important; }
	#videoMessage { margin-top: 60px; }
	#videoMessage #compartenos { margin-top: 140px; }
	.col.s6.m4.l4.centered.edit-contenedor-finalistas { min-height: 400px !important; }
}
@media screen and (max-width: 1400px) {
	.container-fluid.votacion-video .responsive-img { min-height: 200px; }
	.background-ganador, .background-ganador-black { min-height: 200px; }
	.premios .editar-texto2 { padding: 0px 50px; }
	.premios .editar-texto1 { padding: 0px 50px; }
	#videoMessage { margin-top: 40px; }
	#videoMessage #compartenos { margin-top: 120px; }
	.chevron-home { bottom: 130px !important; }
	.col.s6.m4.l4.centered.edit-contenedor-finalistas { min-height: 350px !important; }
}
@media screen and (max-width: 1300px) {
	.header-votacion { background-size: contain; }
	.premios .premios-secundarios { margin-top: -160px; }
	#videoMessage { margin-top: 30px; }
	#videoMessage #compartenos { margin-top: 80px; }
	.chevron-home { bottom: 60px !important; }
	.home .fix { display: none !important; }
}
@media screen and (max-width: 1200px) {
	.col.s6.m4.l4.centered.edit-contenedor-finalistas { min-height: 300px !important; }
}
@media screen and (max-width: 1100px) {
	.font24 { font-size: 20px  !important; }
	.space150-padding { padding-top: 100px; }
	.chevron-home { bottom: 60px !important; }
	.premios .premios-secundarios { margin-top: -120px; }
	#videoMessage { margin-top: 20px; }
	#videoMessage #compartenos { margin-top: 40px; }
}
@media screen and (max-width: 992px) {
	.col.s12.centered.chevron-home { padding-bottom: 10px; }
	.premios .premios-secundarios { margin-top: -60px; }
	.premios .editar-texto2 { text-align: left; padding: 20px; }
	.premios .editar-texto1 { padding: 20px; }
	.header-home { background-image: url('../img/Home_tablet_bg.jpg'); min-height: 728px; }
	.formulario-edit .font26 { font-size: 18px !important; }
	.header-home { background-size: cover; }
	.col.s6.m4.l4.centered.edit-contenedor-finalistas { margin-bottom: 30px !important; }
	.row.open-sans-regular.vot-box #name { height: auto; }
}
@media screen and (max-width: 940px) {
	.font24 { font-size: 16px  !important; }
	.font16 { font-size: 14px !important; }
}
@media screen and (max-width: 900px) {
	.font20 { font-size: 16px  !important; }
	.font22 { font-size: 18px  !important; }
	.font30 { font-size: 22px  !important; }
	.font60 { font-size: 40px  !important; }
	.home h2.font60 { margin-top: 0; }
	.space150-padding { padding-top: 60px; }
	.space100-padding { padding-top: 50px; }
	.contenedor-sombra.ganadores { width: 300px; height: 180px; }

}
@media screen and (max-width: 800px) {
	.font19 { font-size: 15px  !important; }
	.container-fluid.votacion-video .responsive-img { min-height: 180px; }
	.background-ganador, .background-ganador-black { min-height: 180px; }
	.col.s12.m12.l12.centered.chevron-home { padding: 40px 0 20px 0; }
	.space30 { margin-top: 10px; }
	.space40 { margin-top: 20px; }
	.btn-vote { margin: 10px 0 0 -10px; }
	.parrafo-premios.font40 { width: auto; margin: 0 auto ; }
	.home .font60 { font-size: 30px !important; }
	.home .font20 { font-size: 14px !important; }
}
@media screen and (max-width: 700px) {
	.space150-padding { padding-top: 40px; }
	.col.s12.m5.offset-m2.l5.offset-l2.\31 5-img { width: 250px; height: 55px; }
	.space30 { margin-top: 5px; }
	.space40 { margin-top: 10px; }
	.space80 { margin-top: 40px; }
	.row.votacion-chv img { padding: 20px 0 40px 0; }
	.font24 { font-size: 14px  !important; }
	form.btn-vote button { width: 80px; }
	/*.header-home { background-size: contain; }*/
	.header-votacion { background-size: contain; }
	.home .font14 { font-size: 10px !important; }
	.home .font16 { font-size: 12px !important; }
	.home .footer .font16 { font-size: 16px !important; }
	/*.header-home { background-image: url('../img/bg_mobile.jpg'); } */
	.premios .font33 { font-size: 26px !important; }
	.font34 { font-size: 24px !important; }
	.contenedor-sombra.ganadores { width: 250px; height: 160px; }
}
@media screen and (max-width: 640px) {
	.font14 { font-size: 12px !important; }
	.font40 { font-size: 24px  !important; }
	.font33 { font-size: 20px  !important; }
	input { font-size: 16px; }
	.col.s12.m10.offset-m1.l8.offset-l2.open-sans-light.font22.formulario-pos .row { margin-bottom: 5px; }
	.parrafo-premios.font40 { width: 320px; }
}
@media screen and (max-width: 600px) {
	.header-home { background-image: url('../img/Home_Mobile_bg.jpg'); min-height: 600px; }
	.font60 { font-size: 35px  !important; }
	.col.s12.m10.offset-m1.l8.offset-l2.open-sans-light.font22.formulario-pos .browser-default { margin-bottom: 10px; }
	.col.s12.m12.l12.centered.chevron-home { padding: 20px 0 10px 0; }
	.col.s12.m5.offset-m2.l5.offset-l2.\31 5-img { width: 200px; height: 50px; margin: 20px 0 0 0; }
	.space30 { margin-top: 10px; }
	.space40 { margin-top: 20px; }
	.col.s12.m6.l6.editar-texto1 { padding: 20px; }
	.col.s12.m6.l6.editar-texto2 { padding-right: 20px; }
	.col.s12.m6.l6.editar-texto1 .font24, .col.s12.m6.l6.editar-texto2 .font24 { font-size: 20px  !important; }
	.btn-gracias p { width: 300px; }
	.btn-vote { margin: 10px 0 0 0; }
	.row.parrafo-votacion p { width: 300px; }
	.space100-padding { padding-top: 10px; }
	.col.s12.m8.l8.right.texto-terminos { max-height: 400px; }
	.titulo-finalistas.font34 { padding: 0 10px; }
	.contenedor-sombra.ganadores { width: 200px; height: 130px; }
	.texto-pos-gan { height: 70px; }
}
@media screen and (max-width: 500px) {
	.font20.redes-sociales.finalistas-redes.white-text { letter-spacing: 1px; }
	.contenedor-sombra.ganadores { width: 150px; height: 100px; }
	.ganadores-nombre.open-sans-light.font22.nombre-gan { height: 35px; }

}
@media screen and (max-width: 450px) {
	.font12 { font-size: 10px !important; }
	.font14 { font-size: 10px !important; }
	.font19 { font-size: 12px  !important; }
	.font20 { font-size: 14px  !important; }
	.font22 { font-size: 16px  !important; }
	.font30 { font-size: 20px  !important; }
	.font32 { font-size: 24px  !important; }
	.font60 { font-size: 30px  !important; }
	.container-fluid.votacion-video .responsive-img { min-height: 130px; }
	.background-ganador, .background-ganador-black { min-height: 130px; }
	label.font14 { text-align: center; }
	.col.s12.m12.l12.centered.chevron-home { padding: 10px 0 0 0; }
	.col.s12.m8.l8.right.texto-terminos { max-height: 400px; }
	.col.s12.\31 5-img img { width: 300px; }
	.formulario-edit .font26 { font-size: 12px !important; }
	.col.s12.open-sans-semibold.font22.centered.boton-enviar-f a { padding: 10px; }
	.col.s6.m4.l4.centered.edit-contenedor-finalistas { min-height: 200px !important; margin-bottom: 10px !important; }
}
@media screen and (max-width: 400px) {
	.font20 { font-size: 12px  !important; }
	.font60 { font-size: 25px  !important; }
	.parrafo-premios.font40 { width: 300px; }
	.btn-premios p { width: 300px; }
	.col.s12.m8.l8.right.texto-terminos { max-height: 400px; }
	.font20.redes-sociales.finalistas-redes.white-text .fb-btn { margin-left: 0px; }
	.barra-redes.finalistas-redes.font30.white-text { padding: 0 10px 0 5px; }
	.contenedor-sombra.ganadores { width: 140px; }

}
@media screen and (max-width: 330px) {
	.col.s12.m8.l8.right.texto-terminos { max-height: 320px; }
}